body{
	background-color: whitesmoke;
}

nav{
	background-color: #26a69a;
}

.container{
	margin: 8% 15%;
    padding: 3%;
    background-color: #fff;
}

[type="checkbox"]+label{
	display: inline;
}

.nuevo{
	padding: 10px 0;
}
.strike{
	text-decoration: line-through;
}